body{
    background-color: #fff0e3;
}
.header {
    text-align: center;
    background-color: #fb9590;
    padding: 20px;
    border-bottom: black 2px solid;
}

.header h1 {
    text-transform: capitalize;
    color: #002147;
}

.login {
    display: flex;
    justify-content: center;
    border: black 2px solid;
    background-color: #2b637c;
    padding: 40px;
    margin: 100px;
}

.submit_button {
    justify-content: center;
    background-color: #fcd59c;
}