body{
    background-color: #fff0e3;
}

.header {
    text-align: center;
    background-color: #fb9590;
    padding: 20px;
    margin: 50px;
    border: #ff8d82 2px solid;
}

.header h1 {
    text-transform: capitalize;
    color: #002147;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black 2px solid;
    background-color: #2b637c;
    padding: 100px;
    width: 400px;
    height: 400px;
    margin: 70px;
}

.submit_button {
    justify-content: center;
    align-items: center;
    background-color: #fcd59c;
}
.requirements {
    color: azure;
}
