{% extends "top.html" %}

{% block content %}
<main class = "main">
    <div class = "login">
        <form action ="" method="POST"
              id = "login_form">
            <label for="user">Username:</label><input class = "textbox" type="text" id="username"
                                                      name = "username" required><br>

            <label for="user">Password:</label><input class = "textbox" type="password" id="password"
                                                      name = "password" required><br>

            <button type="submit" class="submit_button">
                Submit
            </button>
        </form>
        <a href="{{url_for()}}">No account? Sign up here.</a>
    </div>

</main>
{% endblock %}