<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>
<main class = "main">
    <div class = "header">
        <h1>INTRANET LOGIN SYSTEM</h1>
    </div>
    <div class = "welcome">
        <h2>Welcome! Please log in.</h2>
    </div>
    <div class = "login">
        <form action ="" method="POST"
              id = "login_form">
            <label for="user">Username:</label><input class = "textbox" type="text" id="username"
                                                      name = "username" required><br>

            <label for="user">Password:</label><input class = "textbox" type="password" id="password"
                                                      name = "password" required><br>

            <button type="submit" class="submit_button">
                Submit
            </button>
        </form>
    </div>

</main>
</body>
</html>