{% extends "top.html" %}
{% block content %}

<main class = "main">
    <div class = "login">
        <h2>Sign up:</h2>
        <br>
        <form action ="" method="POST"
              id = "login_form">
            <label for="user">Username:</label><input class = "textbox" type="text" id="username"
                                                      name = "username" required><br>

            <label for="user">Password:</label><input class = "textbox" type="password" id="password"
                                                      name = "password" required><br>


            <label for="user">Confirm Password:</label><input class = "textbox" type="password" id="password"
                                                              name="confirm_password" required><br><br>
            <button type="submit" class="submit_button">
                Sign Up
            </button>
        </form>
        <br>
        <a href="{{url_for('.login')}}">Already have an account? Log in here.</a>
    </div>
    <div class = "requirements">
        Password must satisfy the following requirements:<br>

        - Between 8 and 25 characters<br>

        - At least one uppercase letter<br>

        - At least one lowercase letter<br>

        - At least one special character<br><br><br>
        <form action = "" method = "GET" class = "generator">
            <button type = "submit" class = "submit_button">
            Generate Strong Password
            </button>
            <div>
                <label for="generated_password">Suggested Password:</label><br>
                <span id ="generated_password">{{generated_password}}</span>
            </div>
        </form>
    </div>
</main>

{% endblock %}